{{#if current_view}}
	<a class="list-group-item active">{{name}} <span class="badge">{{tasks_count}}</span></a>
{{else}}
	<a class="list-group-item">{{name}} <span class="badge">{{tasks_count}}</span></a>
{{/if}}